.DS_Store
node_modules/

# React Router
/client/node_modules/
/client/build
/client/.react-router/
/client/.env

# Server
/server/node_modules/
/server/dist/
/server/uploads/
/server/.env
/server/server.log
config.bat
