# Database
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/resume_analyzer

# Better Auth
BETTER_AUTH_SECRET=this-is-the-worse-auth-key-32-chars
BETTER_AUTH_SERVER_URL=http://localhost:3000/api/auth
BETTER_AUTH_CLIENT_URL=http://localhost:5173

# OpenAI / LLM
OPENAI_API_KEY=Z70ZXrBOBkKQxRX1bKFZd/skNfffmcEDo53jieX7G93XVtmFA469Gz2/u04M3kLofkoZ+j92hyVGjXi2bDcNWvvxorISjUWcchdfRd/TgsI5ezR3IIVj0Mn/YJHPv1QVzTzAVOLPPLlBUsOV1sk=
OPENAI_BASE_URL=https://api.llm7.io/v1
OPENAI_MODEL=codestral-latest

# File Upload
UPLOAD_DIR=./uploads

# Job Board Aggregation (JSearch API via RapidAPI)
# Get your key at: https://rapidapi.com/letscrape-6bRBa3QguO5/api/jsearch
JSEARCH_API_KEY=719b0f6ca9mshe01962d3c3b2262p1d530ajsn88cb1062079a
JSEARCH_API_HOST=jsearch.p.rapidapi.com

# Redis (for caching, rate limiting, and job queues)
REDIS_URL=redis://localhost:6379
REDIS_HOST=localhost
REDIS_PORT=6379
# REDIS_PASSWORD=your-redis-password  # if using auth
